In [3]:
first_list = [2, 4, 5]
print([num * 2 for num in first_list])

[4, 8, 10]

In [2]:
first_list = [2, 4, 5]

In [4]:
print(map(lambda x: x**2, first_list))

<map object at 0x000001BC2959B198>

In [4]:
first_list = [2,4,5]
print(list(map(lambda x: x**2, first_list)))

[4, 16, 25]

In [5]:
def squareit(n):
    return n**2
print(list(map(squareit, first_list)))

[4, 16, 25]

In [6]:
sums_list = [3,5,9,7]
sums_list2 = (4,5,6,7)
print(list(map(lambda x,y : x+y, sums_list,sums_list2)))

[7, 10, 15, 14]

In [18]:
list_of_names = ['nikola', 'james', 'albert']
list_of_names2 = ['tesla','watt','einstein']
proper = lambda x, y: x[0].upper()+x[1:] +' '+ y[0].upper()+y[1:]
print(list(map(proper, list_of_names,list_of_names2)))

['Nikola Tesla', 'James Watt', 'Albert Einstein']

In [19]:
#Filter
divby3 = lambda x:  x % 3 == 0
my_list = [3,4,5,6,7,8,9]
div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

In [20]:
#Reduce
from functools import reduce
q  = reduce(lambda x, y: x+y, range(1,4))
print(q)

6

In [ ]:
list_of_nums = [22,45,32,20,87,94,30]
print(reduce(lambda x,y: x if x>y else y,list_of_nums))

In [12]:
import numpy as np
from functools import reduce
list1= [1,2,3,4,5,6]
list2 = list(map(lambda x: x**2, list1))
list2

[1, 4, 9, 16, 25, 36]

In [26]:
input_list = ['Mahendra', 'Singh', 'Shoni']
#count = sum(map(lambda x: 1 if x[0]=='S' else 0, input_list))
count = sum([1 for x in input_list if x[0] == 'S'])

fi
print(count)

SyntaxError: invalid syntax (<ipython-input-26-9006342e79cd>, line 4)

In [39]:
n = int(input())
if (n<=0):
     print('1')
else: 
    print(reduce(lambda x, y: x * y, range(1,n+1) ))

-2
0

In [51]:
C = [2, 5, 9, 12, 13, 15, 16, 17, 18, 19]
F = [2, 4, 5, 6, 7, 9, 13, 16]
H = [1, 2, 5, 9, 10, 11, 12, 13, 15] 
students = range(1,21)

# Write your code here
setC = set(C)
setF = set(F)
setH = set(H)
set_all_sports = setC.intersection(setF).intersection(setH)
set_only_C_and_F = setC.intersection(setF).difference(setH)
set_only_F_and_H = setF.intersection(setH).difference(setC)
set_only_C_and_H = setC.intersection(setH).difference(setF)
set_only_two_sports = set_only_C_and_F.union(set_only_F_and_H).union(set_only_C_and_H)
set_only_two_sports = set_only_two_sports.difference(set_all_sports)
set_no_sports = set(students).difference(setC.union(setF).union(setH))

print(sorted(list(set_all_sports)))
print(sorted(list(set_only_C_and_F)))
print(sorted(list(set_only_two_sports)))
print(sorted(list(set_no_sports)))

[2, 5, 9, 13]
[16]
[12, 15, 16]
[3, 8, 14, 20]